.title {
    font-size: 30;
    horizontal-align: center;
    margin: 20;
}

button {
    font-size: 32;
    horizontal-align: center;
    color: #ffffff;
    background-color: #2fa4e7;
    border-color: #2fa4e7;
    border-radius: 15;
    margin: 5 0;
    width: 70%;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}

.label-user {
  font-size: 24;
}

label {
  font-size: 28;
  text-align: center;
}

.btn-create-game {
  margin-top: 50;
}

.label-description {
  font-size: 20;
} 

.vertical-center {
    vertical-align: center;
}

.bold-title {
    font-weight: bold;
    font-size: 28;
    text-align: center
}

.horizontal-center {
    horizontal-align: center;
}

.empty-line {
    height: 30px;
}

.horizontal-line {
    height: 5px;
    margin-top: 20;
    margin-bottom: 20;
    background-color: black;
}

#gameBoardGrid {
    background-color: white;
}

#gamePageGrid, #createGamePageStack {
    background-color: antiquewhite
}